@charset "utf-8";
@import "_var","_mixin","_function";

#cnt1{
    position: relative;background-color: $lightGray;padding-top: 96px;
    background-image: url("../assets/images/main/mint_flower.svg"),url("../assets/images/main/plus.svg"),url("../assets/images/main/triangle.svg"),url("../assets/images/main/red_flower.svg");
    background-repeat: no-repeat;
    background-size: 50px 50px,32px 799px,110px 189px,65px 65px;
    background-position: 1096px 243px,right bottom,1498px 80.8%,9.8% 102%;
     h2{
        @include transform(perspective(1000px) rotateY(180deg));
        @include transition(transform 3.5s);
        position: relative;z-index: 1;font-size: 100px;margin: 100px 20px 200px;
        &.on{@include transform(perspective(0px) rotateY(0deg));}
    }
    p{
        position: relative;color: $gray;text-align: center;padding-bottom: 33px;
        &::before{
            @include transX-50;
            content: "";position: absolute;top: -150px;left: 50%;width: 2px;height: 100px;background: $gray;
        }
    }
    .red_flower{
        @include animation(flower 5s linear infinite);
        position: absolute;width: 90px;height: 90px;top: 30%;right: 15.8%;
    }
}
#cnt2{
    .gnb{padding: 228px 0;}
    #indexGnb{
        li+li{margin-top: 90px;}
    }
}
#footer{
    text-align: center;
    p:nth-child(1){margin-top: 180px;}
    strong{display:block;font-size: 30px;font-weight: 400;background: #fff;width: 500px;border:5px solid #0BA9E9;background: #ffffff;padding: 56px 97.5px;margin: 90px auto 48px;}
}
@keyframes flower{
    100%{@include transform(rotate(360deg));}
}