@charset "utf-8";
@import "_var","_mixin","_function";

//about me
#me .tit,#skill .tit{font-family: hopang;font-size: 100px;}
#me{
    .bg img{
        @include animation(rotate 60s linear infinite);
    }
    .tit{margin: 0 0 132px 10px;}
    .click1,.click2{font-size: 20px;color: $gray;}
    .click1{
        @include transX-50;
        position: absolute;top: 150px;left: 50%;
    }
    .click2{margin-bottom: 56px;margin-left: 218px;}
    
    .img_wrap{
        position: relative;width: 664px;height: 647px;background: $orange;z-index:1;
        img,button,.q{@include cover;}
        .q{
            @include translate-50;
            position: absolute;top: 50%;left: 50%;z-index:10;width: 86px;height: 86px;background: url("../assets/images/icon/q_mark.svg") no-repeat;
        }
        img,.smile{position: absolute;}
        >img{
            display: inline-block;width: 633px;top: -30px;right: 0;background: no-repeat center;
            &::after{content:"";position: absolute;top: 0;left: 0;background: $orange;opacity: 98%;}
        }
        .smile{background: url("../images/icon/smile_icon.svg") no-repeat;}
        .smile1{
            @include transform(rotate(145deg));
            width: 67px;height: 67px;top: 158px;left: 193px;
        }
        .smile2{
            @include transform(rotate(21deg));
            width: 56px;height: 56px;top: 199px;left: 502px;
        }
        .smile3{
            @include transform(rotate(-106deg));
            width: 68px;height: 68px;top: 370px;left: 473px;
        }
        .smile4{
            @include transform(rotate(-5deg));
            width: 44px;height: 44px;top: 426px;left: 101px;
        }
        &.on{
            @include transX-50;
            left:50%;
        }
    }
    .txt{
        position: absolute;top: 858px;right: 0;width: 701px;
        p{font-size: 80px;font-family: hopang;}
        .first{float:right;}
        .mid{padding-left: 107px;}
    }
    .text{
        position: absolute;width: 630px;right: 0;top: 454px;line-height: 32px;
        p{position: relative;font-size: 22px;}
        #txt1{margin-bottom: 30px;}
        #txt2{margin-bottom: 100px;}
        #txt3{margin-bottom: 200px;}
        p::after{
            @include transition(width 1s);
            content:"";position: absolute;top: 0;right: 0;width: 100%;height: 100%;background: #fff;
        }
        p.on::after{width: 0;}
    }
    .video{
        position: relative;height: 619px;margin: 250px 0 301px;
        iframe{float: right;width: 1100px;height: 619px;}
        a{
            position: absolute;bottom: 0;left: 73px;font-size: 22px;
            &:hover,&:focus{text-decoration: underline;}
        }
    }
}
@keyframes rotate{
    100%{@include transform(rotate(360deg));}
}
#skill{
    .tit_wrap{
        margin-bottom: 45px;
        *{display:inline-block;float:right;}
        .tit{margin-right: 10px;}
        span{
            position: relative;font-size: 23px;margin-right: 50px;margin-top: 63px;
            &::after{
                @include cover;
                @include transY-50;
                content:"";position: absolute;background: url("../images/icon/v_icon.svg") no-repeat;top: 50%;right: -25px;width: 20px;height: 24px;
            }
        }
    }
    .wrap{
        background: $darkGray;color: #ffffff;padding: 100px 0;height: 620px;
        .w1400{
            @include flex;
            justify-content: space-between;padding-bottom: 100px;
            .programming,.design,.ect{width: calc(100% / 3);}
        }
        strong{
            @include translate-50;
            position: absolute;font-size: 26px;font-weight: 400;text-align: center;top: 50%;left: 50%;
        }
        .txt{
            position: relative;height: 317px;margin-top: 47px;
            &::before{
                @include transX-50;
                content:"";position: absolute;width: 3px;height: 317px;background: #ffffff;top: 0;left: 50%;
            }
            span{
                position: absolute;font-size: 20px;
                &::before{
                    @include cover;
                    @include transY-50;
                    content: "";position: absolute;top: 50%;width: 59px;height: 10px;background: no-repeat;
                }
                &:nth-child(odd)::before{background: url("../images/aboutme/skill_right.svg");}
                &:nth-child(even)::before{background: url("../images/aboutme/skill_left.svg");}
    
            }
        }    
    }
    .hexagon{
        @include transX-50;
        position: relative;width: 189px;height: 109px;margin-top: 47.25px;left: 50%;
        &::before,&::after{content:"";position: absolute;width: 0;height: 0;left: 0;border-left: 94.5px solid transparent;border-right: 94.5px solid transparent;}
        &::before{top: -47.25px;}
        &::after{bottom: -47.25px;}
    }
    .programming{
        .hexagon{
            background: $yellow;
            &::before{border-bottom: 47.25px solid $yellow;}
            &::after{border-top: 47.25px solid $yellow;}
        }
        .txt{
            span:nth-child(1){top: 37px;left: 106px;}
            span:nth-child(2){top: 84px;left: 308px;}
            span:nth-child(3){top: 128px;left: 113px;}
            span:nth-child(4){top: 174px;left: 308px;}
            span:nth-child(5){top: 218px;left: 45px;}
            span:nth-child(6){top: 266px;left: 308px;}

            span:nth-child(odd)::before{background: url("../images/aboutme/skill_left.svg");right: -71px;}
            span:nth-child(even)::before{background: url("../images/aboutme/skill_right.svg");left:-75px;}
        }
    }
    .design{
        .hexagon{
            background: $red;
            &::before{border-bottom: 47.25px solid $red;}
            &::after{border-top: 47.25px solid $red;}
        }
        .txt{
            &::before{height: 200px;}
            span:nth-child(1){top: 38px;left: 307px;}
            span:nth-child(2){top: 82px;left: 131px;}
            span:nth-child(3){top: 130px;left: 307px;}

            span:nth-child(odd)::before{left:-75px}
            span:nth-child(even)::before{right:-73px}
        }
    }
    .ect{
        .hexagon{
            background: #0075A1;
            &::before{border-bottom: 47.25px solid #0075A1;}
            &::after{border-top: 47.25px solid #0075A1;}
        }
        .txt{
            span:nth-child(1){top: 39px;left: 308px;}
            span:nth-child(2){top: 91px;left: 44px;}
            span:nth-child(3){top: 151px;left: 308px;}
            span:nth-child(4){top: 238px;left: 91px;}

            span:nth-child(odd)::before{left:-75px;}
            span:nth-child(even)::before{right: -71px;}
        }
    }
    #jump{
        @include radius(100%);
        position: absolute;width: 60px;height: 60px;left: 30px;bottom: 30px;background: $orange;font-size: 16px;text-align: center;line-height: 60px;
    }
    .guide,.keyboard div{
        @include radius(5px);
        position: absolute;background: #ffffff;
    }
    .guide{
        width: 373px;height: 309px;left: 100px;bottom: 90px;
        p{color: $darkGray;text-align: center;margin: 36px 0 30px;}
        .keyboard{
            div{border: 1px solid #eee;width: 60px;height: 60px;}
            img{display:block;width: 26px;margin:23px auto;}
            .up{top: 84px;left: calc(50% - 30px);}
            .right{
                @include transform(rotate(90deg));
                top: 154px;right: 86px;
            }
            .down{
                @include transform(rotate(180deg));
                top: 154px;left: calc(50% - 30px);
            }
            .left{
                @include transform(rotate(270deg));
                top: 154px;left: 86px;
            }
            .spacebar{width: 200px;height: 50px;bottom: 35px;left:calc(50% - 100px);font-size: 23px;color: $gray;text-align: center;line-height: 50px;}
        }
    }
    .movetxt{
        margin-top: 89px;
        marquee{font-size: 36px;}
        .line{font-family: hopang;margin-top: 20px;}
    }
}

//project
#projectCnt{
    .tit{font-family: NtSnasKR;font-size: 36px;}
    .subtit{font-size: 30px;}
    .txt{
        position: absolute;top: 153px;right: 0;width: 482px;background: gold;text-align: right;
        .page,.text{font-size: 22px;}
        .website,.role{font-size: 25px;}
        .page{margin: 60px 0 39px;}
        .website{margin-bottom: 10px;}
        .text{line-height: 2;margin-top: 180px;}
    }
    .go_btn{
        position: absolute;right: 0;top: 760px;
        li{float: left;}
        a{
            @include cover;
            @include boxsizing;
            display:inline-block;font-size: 15px;width: 131px;height: 56px;
        }
        .sitego{color: #ffffff;background: url("../images/icon/sitego.svg") no-repeat;padding: 18px 0 0 12px;margin-right: 69px;}
        .linkgo{color: $orange;background: url("../images/icon/infogo.svg") no-repeat;padding: 18px 0 0 19px;}
    }
    .img_wrap{
        @include transY-50;background: purple;
        position: absolute;left: 0;top: 50%;text-align: center;width: 778px;height: 507px;

        .img{position: absolute;overflow: hidden;left: 0;bottom: 0;}
        .controller{
            @include transX-50;
            position: absolute;top: 0;left: 50%;
            button{
                position: relative;font-size: 20px;
                &::after{
                    @include transY-50;
                    content:"";position: absolute;top: 50%;
                }
            }
            .next{
                &::after{
                    @include cover;
                    right: -32px;background: url("../images/icon/next.svg") no-repeat;width: 27px;height: 26px;
                }
            }
        }
    }
}
//info 
#projectCnt .info{
    .tit+p,.subtit,.color>strong,.color>p,.font>strong,.font>p{text-align: center;}
    .color>strong,.color>p,.font>strong,.font>p{color: $gray;}
    .color>strong,.font>strong{position: relative;display: block;}
    .color>strong::after,.font>strong::after{
        @include transX-50;
        content:"";position: absolute;bottom: -30px;left: 50%;width: 20px;height: 1px;background: $gray;
    }
    .design{
        .subtit{margin-bottom: 86px;}
        .color>p,.font>p{margin: 65px 0 41px;}
        .color{
            ul{background: gold;text-align: center;height: 150px;}
            li{
                @include radius(100%);
                display: inline-block;width: 150px;height: 150px;color: #ffffff;font-size: 30px;line-height: 150px;
                &+li{margin-left: 37px;}
            }
        }
        .font{
            .title,.f_name{font-size: 23px;}
            .f_name{color: $gray;}
            .big,.small{font-weight: 700;}
            .big{font-size: 65px;}
            .small{font-size: 55px;}
        }
    }
    .coding{
        .subtit{
            @include transX-50;
            position: relative;display:inline-block;left: 50%;margin: 200px 0 80px;
            &::after{
                @include transY-50;
                @include cover;
                content:"";position: absolute;top: 50%;right: -25px;width: 20px;height: 24px;background: url("../images/icon/v_icon.svg") no-repeat;
            }
        }
        .flex{
            @include flex;
            justify-content: space-between;
            div{position: relative;text-align: center;}
        }
        .bg{overflow: hidden;width: 400px;height: 500px;margin-bottom: 50px;}
        .circle{
            @include transX-50;
            @include radius(50%);
            position: absolute;width: 300px;height: 300px;left: 50%;z-index:10;border: 5px solid #fff;
        }
    }
    .sitego{
        @include transX-50;
        position: absolute;left: 50%;color: #ffffff;background: url("../images/icon/sitego.svg") no-repeat;font-size: 15px;width: 131px;height: 56px;padding: 18px 0 0 12px;
    }
}

#cntA{
    position: relative;height: 1080px;max-height: 1080px;
    &::before,&::after{content:"";position: absolute;background: url("../images/common/color_dot.svg") no-repeat;height: 620px;width: 25px;}
    &::before{top: 347px;right: 402px;}
    &::after{top: 0;right: 211px;}
    .right,.left{
        @include transform(rotate(90deg));
        position: absolute;font-size: 70px;
    }
    .right{
        top: 333px;right: -47px;
        &::after{content:"";position: absolute;width: 19px;height: 7px;background: $darkGray;top: 36px;right: -35px;}
    }
    .left{top: 710px;right: 50px;}
    .loading{
        position: absolute;width: 200px;height: 300px;left: 205px;
        top: 400px;
        .squareS,.squareL{
            @include radius(2px);
            position: absolute;
        }
        .squareS{
            @include transX-50;
            @include animation(cubeS 3s linear infinite);
            top: 0;left:50%;width: 100px;height: 100px;background: #0075a1;
        }
        .squareL{
            @include animation(cubeL 3s linear infinite);
            bottom: 0;left: 0;width: 200px;height: 200px;background: $yellow;
        }
    }
}
#jaenung,#jaenung_info{background: $lightGray;}
#jaenung{
    height: 928px;
    .w1400{height: 100%;}
    .img_wrap{
        .img{width: 778px;height: 389px;}
    }
}
#jaenung_info{
    height: 2700px;
    .tit{margin: 134px 0 87px;}
    .tit+p,.subtit,.color>strong,.color>p,.font>strong,.font>p{text-align: center;}
    .color>strong,.font>strong{display: block;}
    .design{
        .subtit{margin-top: 134px;}
        .color{
            li{
                &:nth-child(1){background: #E60417;}
                &:nth-child(2){background: #FF7800;}
                &:nth-child(3){
                    -webkit-background: linear-gradient(0deg, rgba(230,4,16,1) 0%, rgba(255,120,0,1) 100%);
                    -moz-background: linear-gradient(0deg, rgba(230,4,16,1) 0%, rgba(255,120,0,1) 100%);
                    -o-background: linear-gradient(0deg, rgba(230,4,16,1) 0%, rgba(255,120,0,1) 100%);
                    background: linear-gradient(0deg, rgba(230,4,16,1) 0%, rgba(255,120,0,1) 100%);
                }
            }
        }
    }

    .sitego{bottom: 200px;}
}

#what,#what_info,#kids,#kids_info{display:none;}
@keyframes cubeS{
    0%{
        @include transform(translateX(-50px) translateY(180px) rotate(0deg));
        width: 200px;height: 50px;
    }
    25%{
        @include transform(translateX(0) translateY(-200px) rotate(90deg));
    }
    50%{
        @include transform(translateX(0) translateY(-300px) rotate(180deg));
        width: 100px;height: 100px;
    }
    75%{
        @include transform(translateX(0) translateY(-200px) rotate(270deg));
    }
    100%{
        @include transform(translateX(-50px) translateY(180px) rotate(360deg));
        width: 200px;height: 50px;
    }
}
@keyframes cubeL{
    0%{
        @include transform(translateX(-50px) translateY(180px) rotate(0deg));
        width: 400px;height: 100px;
    }
    25%{
        @include transform(translateX(0) translateY(-200px) rotate(-30deg));
    }
    50%{
        @include transform(translateX(0) translateY(-300px) rotate(-90deg));
        width: 200px;height: 200px;
    }
    75%{
        @include transform(translateX(0) translateY(-200px) rotate(-135deg));
    }
    100%{
        @include transform(translateX(-50px) translateY(180px) rotate(-180deg));
        width: 400px;height: 100px;
    }
}