#me .tit, #skill .tit {
  font-family: hopang;
  font-size: 100px; }

#me .bg img {
  -webkit-animation: rotate 60s linear infinite;
  -moz-animation: rotate 60s linear infinite;
  -o-animation: rotate 60s linear infinite;
  animation: rotate 60s linear infinite; }
#me .tit {
  margin: 0 0 132px 10px; }
#me .click1, #me .click2 {
  font-size: 20px;
  color: #656565; }
#me .click1 {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-animation: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  top: 150px;
  left: 50%; }
#me .click2 {
  margin-bottom: 56px;
  margin-left: 218px; }
#me .img_wrap {
  position: relative;
  width: 664px;
  height: 647px;
  background: #FB511D;
  z-index: 1; }
  #me .img_wrap img, #me .img_wrap button, #me .img_wrap .q {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important; }
  #me .img_wrap .q {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-animation: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 86px;
    height: 86px;
    background: url("../assets/images/icon/q_mark.svg") no-repeat; }
  #me .img_wrap img, #me .img_wrap .smile {
    position: absolute; }
  #me .img_wrap > img {
    display: inline-block;
    width: 633px;
    top: -30px;
    right: 0;
    background: no-repeat center; }
    #me .img_wrap > img::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: #FB511D;
      opacity: 98%; }
  #me .img_wrap .smile {
    background: url("../images/icon/smile_icon.svg") no-repeat; }
  #me .img_wrap .smile1 {
    -webkit-transform: rotate(145deg);
    -moz-transform: rotate(145deg);
    -o-animation: rotate(145deg);
    -ms-transform: rotate(145deg);
    transform: rotate(145deg);
    width: 67px;
    height: 67px;
    top: 158px;
    left: 193px; }
  #me .img_wrap .smile2 {
    -webkit-transform: rotate(21deg);
    -moz-transform: rotate(21deg);
    -o-animation: rotate(21deg);
    -ms-transform: rotate(21deg);
    transform: rotate(21deg);
    width: 56px;
    height: 56px;
    top: 199px;
    left: 502px; }
  #me .img_wrap .smile3 {
    -webkit-transform: rotate(-106deg);
    -moz-transform: rotate(-106deg);
    -o-animation: rotate(-106deg);
    -ms-transform: rotate(-106deg);
    transform: rotate(-106deg);
    width: 68px;
    height: 68px;
    top: 370px;
    left: 473px; }
  #me .img_wrap .smile4 {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-animation: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    width: 44px;
    height: 44px;
    top: 426px;
    left: 101px; }
  #me .img_wrap.on {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-animation: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%; }
#me .txt {
  position: absolute;
  top: 858px;
  right: 0;
  width: 701px; }
  #me .txt p {
    font-size: 80px;
    font-family: hopang; }
  #me .txt .first {
    float: right; }
  #me .txt .mid {
    padding-left: 107px; }
#me .text {
  position: absolute;
  width: 630px;
  right: 0;
  top: 454px;
  line-height: 32px; }
  #me .text p {
    position: relative;
    font-size: 22px; }
  #me .text #txt1 {
    margin-bottom: 30px; }
  #me .text #txt2 {
    margin-bottom: 100px; }
  #me .text #txt3 {
    margin-bottom: 200px; }
  #me .text p::after {
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff; }
  #me .text p.on::after {
    width: 0; }
#me .video {
  position: relative;
  height: 619px;
  margin: 250px 0 301px; }
  #me .video iframe {
    float: right;
    width: 1100px;
    height: 619px; }
  #me .video a {
    position: absolute;
    bottom: 0;
    left: 73px;
    font-size: 22px; }
    #me .video a:hover, #me .video a:focus {
      text-decoration: underline; }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-animation: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
#skill .tit_wrap {
  margin-bottom: 45px; }
  #skill .tit_wrap * {
    display: inline-block;
    float: right; }
  #skill .tit_wrap .tit {
    margin-right: 10px; }
  #skill .tit_wrap span {
    position: relative;
    font-size: 23px;
    margin-right: 50px;
    margin-top: 63px; }
    #skill .tit_wrap span::after {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-animation: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      content: "";
      position: absolute;
      background: url("../images/icon/v_icon.svg") no-repeat;
      top: 50%;
      right: -25px;
      width: 20px;
      height: 24px; }
#skill .wrap {
  background: #222222;
  color: #ffffff;
  padding: 100px 0;
  height: 620px; }
  #skill .wrap .w1400 {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px; }
    #skill .wrap .w1400 .programming, #skill .wrap .w1400 .design, #skill .wrap .w1400 .ect {
      width: calc(100% / 3); }
  #skill .wrap strong {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-animation: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 26px;
    font-weight: 400;
    text-align: center;
    top: 50%;
    left: 50%; }
  #skill .wrap .txt {
    position: relative;
    height: 317px;
    margin-top: 47px; }
    #skill .wrap .txt::before {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-animation: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      content: "";
      position: absolute;
      width: 3px;
      height: 317px;
      background: #ffffff;
      top: 0;
      left: 50%; }
    #skill .wrap .txt span {
      position: absolute;
      font-size: 20px; }
      #skill .wrap .txt span::before {
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-animation: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        position: absolute;
        top: 50%;
        width: 59px;
        height: 10px;
        background: no-repeat; }
      #skill .wrap .txt span:nth-child(odd)::before {
        background: url("../images/aboutme/skill_right.svg"); }
      #skill .wrap .txt span:nth-child(even)::before {
        background: url("../images/aboutme/skill_left.svg"); }
#skill .hexagon {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-animation: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  width: 189px;
  height: 109px;
  margin-top: 47.25px;
  left: 50%; }
  #skill .hexagon::before, #skill .hexagon::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-left: 94.5px solid transparent;
    border-right: 94.5px solid transparent; }
  #skill .hexagon::before {
    top: -47.25px; }
  #skill .hexagon::after {
    bottom: -47.25px; }
#skill .programming .hexagon {
  background: #FCAE26; }
  #skill .programming .hexagon::before {
    border-bottom: 47.25px solid #FCAE26; }
  #skill .programming .hexagon::after {
    border-top: 47.25px solid #FCAE26; }
#skill .programming .txt span:nth-child(1) {
  top: 37px;
  left: 106px; }
#skill .programming .txt span:nth-child(2) {
  top: 84px;
  left: 308px; }
#skill .programming .txt span:nth-child(3) {
  top: 128px;
  left: 113px; }
#skill .programming .txt span:nth-child(4) {
  top: 174px;
  left: 308px; }
#skill .programming .txt span:nth-child(5) {
  top: 218px;
  left: 45px; }
#skill .programming .txt span:nth-child(6) {
  top: 266px;
  left: 308px; }
#skill .programming .txt span:nth-child(odd)::before {
  background: url("../images/aboutme/skill_left.svg");
  right: -71px; }
#skill .programming .txt span:nth-child(even)::before {
  background: url("../images/aboutme/skill_right.svg");
  left: -75px; }
#skill .design .hexagon {
  background: #F60005; }
  #skill .design .hexagon::before {
    border-bottom: 47.25px solid #F60005; }
  #skill .design .hexagon::after {
    border-top: 47.25px solid #F60005; }
#skill .design .txt::before {
  height: 200px; }
#skill .design .txt span:nth-child(1) {
  top: 38px;
  left: 307px; }
#skill .design .txt span:nth-child(2) {
  top: 82px;
  left: 131px; }
#skill .design .txt span:nth-child(3) {
  top: 130px;
  left: 307px; }
#skill .design .txt span:nth-child(odd)::before {
  left: -75px; }
#skill .design .txt span:nth-child(even)::before {
  right: -73px; }
#skill .ect .hexagon {
  background: #0075A1; }
  #skill .ect .hexagon::before {
    border-bottom: 47.25px solid #0075A1; }
  #skill .ect .hexagon::after {
    border-top: 47.25px solid #0075A1; }
#skill .ect .txt span:nth-child(1) {
  top: 39px;
  left: 308px; }
#skill .ect .txt span:nth-child(2) {
  top: 91px;
  left: 44px; }
#skill .ect .txt span:nth-child(3) {
  top: 151px;
  left: 308px; }
#skill .ect .txt span:nth-child(4) {
  top: 238px;
  left: 91px; }
#skill .ect .txt span:nth-child(odd)::before {
  left: -75px; }
#skill .ect .txt span:nth-child(even)::before {
  right: -71px; }
#skill #jump {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 30px;
  bottom: 30px;
  background: #FB511D;
  font-size: 16px;
  text-align: center;
  line-height: 60px; }
#skill .guide, #skill .keyboard div {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  background: #ffffff; }
#skill .guide {
  width: 373px;
  height: 309px;
  left: 100px;
  bottom: 90px; }
  #skill .guide p {
    color: #222222;
    text-align: center;
    margin: 36px 0 30px; }
  #skill .guide .keyboard div {
    border: 1px solid #eee;
    width: 60px;
    height: 60px; }
  #skill .guide .keyboard img {
    display: block;
    width: 26px;
    margin: 23px auto; }
  #skill .guide .keyboard .up {
    top: 84px;
    left: calc(50% - 30px); }
  #skill .guide .keyboard .right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-animation: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 154px;
    right: 86px; }
  #skill .guide .keyboard .down {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-animation: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 154px;
    left: calc(50% - 30px); }
  #skill .guide .keyboard .left {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-animation: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    top: 154px;
    left: 86px; }
  #skill .guide .keyboard .spacebar {
    width: 200px;
    height: 50px;
    bottom: 35px;
    left: calc(50% - 100px);
    font-size: 23px;
    color: #656565;
    text-align: center;
    line-height: 50px; }
#skill .movetxt {
  margin-top: 89px; }
  #skill .movetxt marquee {
    font-size: 36px; }
  #skill .movetxt .line {
    font-family: hopang;
    margin-top: 20px; }

#projectCnt .tit {
  font-family: NtSnasKR;
  font-size: 36px; }
#projectCnt .subtit {
  font-size: 30px; }
#projectCnt .txt {
  position: absolute;
  top: 153px;
  right: 0;
  width: 482px;
  background: gold;
  text-align: right; }
  #projectCnt .txt .page, #projectCnt .txt .text {
    font-size: 22px; }
  #projectCnt .txt .website, #projectCnt .txt .role {
    font-size: 25px; }
  #projectCnt .txt .page {
    margin: 60px 0 39px; }
  #projectCnt .txt .website {
    margin-bottom: 10px; }
  #projectCnt .txt .text {
    line-height: 2;
    margin-top: 180px; }
#projectCnt .go_btn {
  position: absolute;
  right: 0;
  top: 760px; }
  #projectCnt .go_btn li {
    float: left; }
  #projectCnt .go_btn a {
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    font-size: 15px;
    width: 131px;
    height: 56px; }
  #projectCnt .go_btn .sitego {
    color: #ffffff;
    background: url("../images/icon/sitego.svg") no-repeat;
    padding: 18px 0 0 12px;
    margin-right: 69px; }
  #projectCnt .go_btn .linkgo {
    color: #FB511D;
    background: url("../images/icon/infogo.svg") no-repeat;
    padding: 18px 0 0 19px; }
#projectCnt .img_wrap {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-animation: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: purple;
  position: absolute;
  left: 0;
  top: 50%;
  text-align: center;
  width: 778px;
  height: 507px; }
  #projectCnt .img_wrap .img {
    position: absolute;
    overflow: hidden;
    left: 0;
    bottom: 0; }
  #projectCnt .img_wrap .controller {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-animation: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%; }
    #projectCnt .img_wrap .controller button {
      position: relative;
      font-size: 20px; }
      #projectCnt .img_wrap .controller button::after {
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-animation: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        position: absolute;
        top: 50%; }
    #projectCnt .img_wrap .controller .next::after {
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      background-size: cover !important;
      right: -32px;
      background: url("../images/icon/next.svg") no-repeat;
      width: 27px;
      height: 26px; }

#projectCnt .info .tit + p, #projectCnt .info .subtit, #projectCnt .info .color > strong, #projectCnt .info .color > p, #projectCnt .info .font > strong, #projectCnt .info .font > p {
  text-align: center; }
#projectCnt .info .color > strong, #projectCnt .info .color > p, #projectCnt .info .font > strong, #projectCnt .info .font > p {
  color: #656565; }
#projectCnt .info .color > strong, #projectCnt .info .font > strong {
  position: relative;
  display: block; }
#projectCnt .info .color > strong::after, #projectCnt .info .font > strong::after {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-animation: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 1px;
  background: #656565; }
#projectCnt .info .design .subtit {
  margin-bottom: 86px; }
#projectCnt .info .design .color > p, #projectCnt .info .design .font > p {
  margin: 65px 0 41px; }
#projectCnt .info .design .color ul {
  background: gold;
  text-align: center;
  height: 150px; }
#projectCnt .info .design .color li {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  width: 150px;
  height: 150px;
  color: #ffffff;
  font-size: 30px;
  line-height: 150px; }
  #projectCnt .info .design .color li + li {
    margin-left: 37px; }
#projectCnt .info .design .font .title, #projectCnt .info .design .font .f_name {
  font-size: 23px; }
#projectCnt .info .design .font .f_name {
  color: #656565; }
#projectCnt .info .design .font .big, #projectCnt .info .design .font .small {
  font-weight: 700; }
#projectCnt .info .design .font .big {
  font-size: 65px; }
#projectCnt .info .design .font .small {
  font-size: 55px; }
#projectCnt .info .coding .subtit {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-animation: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: relative;
  display: inline-block;
  left: 50%;
  margin: 200px 0 80px; }
  #projectCnt .info .coding .subtit::after {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-animation: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important;
    content: "";
    position: absolute;
    top: 50%;
    right: -25px;
    width: 20px;
    height: 24px;
    background: url("../images/icon/v_icon.svg") no-repeat; }
#projectCnt .info .coding .flex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  display: flex;
  justify-content: space-between; }
  #projectCnt .info .coding .flex div {
    position: relative;
    text-align: center; }
#projectCnt .info .coding .bg {
  overflow: hidden;
  width: 400px;
  height: 500px;
  margin-bottom: 50px; }
#projectCnt .info .coding .circle {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-animation: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  width: 300px;
  height: 300px;
  left: 50%;
  z-index: 10;
  border: 5px solid #fff; }
#projectCnt .info .sitego {
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-animation: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  color: #ffffff;
  background: url("../images/icon/sitego.svg") no-repeat;
  font-size: 15px;
  width: 131px;
  height: 56px;
  padding: 18px 0 0 12px; }

#cntA {
  position: relative;
  height: 1080px;
  max-height: 1080px; }
  #cntA::before, #cntA::after {
    content: "";
    position: absolute;
    background: url("../images/common/color_dot.svg") no-repeat;
    height: 620px;
    width: 25px; }
  #cntA::before {
    top: 347px;
    right: 402px; }
  #cntA::after {
    top: 0;
    right: 211px; }
  #cntA .right, #cntA .left {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-animation: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    font-size: 70px; }
  #cntA .right {
    top: 333px;
    right: -47px; }
    #cntA .right::after {
      content: "";
      position: absolute;
      width: 19px;
      height: 7px;
      background: #222222;
      top: 36px;
      right: -35px; }
  #cntA .left {
    top: 710px;
    right: 50px; }
  #cntA .loading {
    position: absolute;
    width: 200px;
    height: 300px;
    left: 205px;
    top: 400px; }
    #cntA .loading .squareS, #cntA .loading .squareL {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      position: absolute; }
    #cntA .loading .squareS {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -o-animation: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-animation: cubeS 3s linear infinite;
      -moz-animation: cubeS 3s linear infinite;
      -o-animation: cubeS 3s linear infinite;
      animation: cubeS 3s linear infinite;
      top: 0;
      left: 50%;
      width: 100px;
      height: 100px;
      background: #0075a1; }
    #cntA .loading .squareL {
      -webkit-animation: cubeL 3s linear infinite;
      -moz-animation: cubeL 3s linear infinite;
      -o-animation: cubeL 3s linear infinite;
      animation: cubeL 3s linear infinite;
      bottom: 0;
      left: 0;
      width: 200px;
      height: 200px;
      background: #FCAE26; }

#jaenung, #jaenung_info {
  background: #F4F4F4; }

#jaenung {
  height: 928px; }
  #jaenung .w1400 {
    height: 100%; }
  #jaenung .img_wrap .img {
    width: 778px;
    height: 389px; }

#jaenung_info {
  height: 2700px; }
  #jaenung_info .tit {
    margin: 134px 0 87px; }
  #jaenung_info .tit + p, #jaenung_info .subtit, #jaenung_info .color > strong, #jaenung_info .color > p, #jaenung_info .font > strong, #jaenung_info .font > p {
    text-align: center; }
  #jaenung_info .color > strong, #jaenung_info .font > strong {
    display: block; }
  #jaenung_info .design .subtit {
    margin-top: 134px; }
  #jaenung_info .design .color li:nth-child(1) {
    background: #E60417; }
  #jaenung_info .design .color li:nth-child(2) {
    background: #FF7800; }
  #jaenung_info .design .color li:nth-child(3) {
    -webkit-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    -moz-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    -o-background: linear-gradient(0deg, #e60410 0%, #ff7800 100%);
    background: linear-gradient(0deg, #e60410 0%, #ff7800 100%); }
  #jaenung_info .sitego {
    bottom: 200px; }

#what, #what_info, #kids, #kids_info {
  display: none; }

@keyframes cubeS {
  0% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -o-animation: translateX(-50px) translateY(180px) rotate(0deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(0deg);
    transform: translateX(-50px) translateY(180px) rotate(0deg);
    width: 200px;
    height: 50px; }
  25% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(90deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(90deg);
    -o-animation: translateX(0) translateY(-200px) rotate(90deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(90deg);
    transform: translateX(0) translateY(-200px) rotate(90deg); }
  50% {
    -webkit-transform: translateX(0) translateY(-300px) rotate(180deg);
    -moz-transform: translateX(0) translateY(-300px) rotate(180deg);
    -o-animation: translateX(0) translateY(-300px) rotate(180deg);
    -ms-transform: translateX(0) translateY(-300px) rotate(180deg);
    transform: translateX(0) translateY(-300px) rotate(180deg);
    width: 100px;
    height: 100px; }
  75% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(270deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(270deg);
    -o-animation: translateX(0) translateY(-200px) rotate(270deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(270deg);
    transform: translateX(0) translateY(-200px) rotate(270deg); }
  100% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(360deg);
    -o-animation: translateX(-50px) translateY(180px) rotate(360deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(360deg);
    transform: translateX(-50px) translateY(180px) rotate(360deg);
    width: 200px;
    height: 50px; } }
@keyframes cubeL {
  0% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(0deg);
    -o-animation: translateX(-50px) translateY(180px) rotate(0deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(0deg);
    transform: translateX(-50px) translateY(180px) rotate(0deg);
    width: 400px;
    height: 100px; }
  25% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(-30deg);
    -o-animation: translateX(0) translateY(-200px) rotate(-30deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(-30deg);
    transform: translateX(0) translateY(-200px) rotate(-30deg); }
  50% {
    -webkit-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -moz-transform: translateX(0) translateY(-300px) rotate(-90deg);
    -o-animation: translateX(0) translateY(-300px) rotate(-90deg);
    -ms-transform: translateX(0) translateY(-300px) rotate(-90deg);
    transform: translateX(0) translateY(-300px) rotate(-90deg);
    width: 200px;
    height: 200px; }
  75% {
    -webkit-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -moz-transform: translateX(0) translateY(-200px) rotate(-135deg);
    -o-animation: translateX(0) translateY(-200px) rotate(-135deg);
    -ms-transform: translateX(0) translateY(-200px) rotate(-135deg);
    transform: translateX(0) translateY(-200px) rotate(-135deg); }
  100% {
    -webkit-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -moz-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    -o-animation: translateX(-50px) translateY(180px) rotate(-180deg);
    -ms-transform: translateX(-50px) translateY(180px) rotate(-180deg);
    transform: translateX(-50px) translateY(180px) rotate(-180deg);
    width: 400px;
    height: 100px; } }

/*# sourceMappingURL=style.css.map */
